<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanlyCoffee.Properties.Settings.QLQuanCoffeeConnectionString"
            connectionString="Data Source=DOANH-PC\SQLEXPRESS;Initial Catalog=QLQuanCoffee;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanlyCoffee.Properties.Settings.QLCoffeeWFConnectionString"
            connectionString="Data Source=DOANH-PC\SQLEXPRESS;Initial Catalog=QLCoffeeWF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>